<h2>Wave {{wave.id}}</h2>

<table class="wave-detail-display">
	<tbody>
		<tr>
			<td>
				<span class="wave-data-label">Blue Ribbon Objective</span>
			</td>
			<td>
				<span class="wave-data">{{wave.description}}</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="wave-data-label">Enemies</span>
			</td>
			<td>
				<span class="wave-data">{{wave.enemies}}</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="wave-data-label">Suggested Strategy</span>
			</td>
			<td>
				<span class="wave-data">{{wave.textStrategy}}</span>
			</td>
		</tr>
		<tr ng-show="wave.videoStrategy.videoId != ''">
			<td>
				<span class="wave-data-label">Video Walkthrough</span>
			</td>
			<td>
				<span class="wave-data">
					<youtube width="640" height="385"
							 video-id="wave.videoStrategy.videoId"
							 start="wave.videoStrategy.start"
							 end="wave.videoStrategy.end" />
				</span>
			</td>
		</tr>
		<tr>
			<td>
				<span class="wave-data-label">Challenge Completed</span>
			</td>
			<td>
				<span class="wave-data">
					<input type="checkbox" name="completed" ng-change="setChallengeStatus(arena.id, wave.id, wave.complete)" ng-model="wave.complete" />
				</span>
			</td>
		</tr>
	</tbody>
</table>